{% extends "main.html" %}
{% block content %}



<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('showCategories')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
        </a>
    </div>
    <div class="col-md-6 text-right">

    {% if username == ""%}
        <a href="/catalog/login"> Sign In</a>
    {% else %}
        <img src="{{picture}}"style = "width: 100px; height: 100px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;">
        <br>
        {{username}}
    {% endif %}
    </div>

</div>

<hr>

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Categories</h1>
    </div>
</div>

<div class = 'flash'>
    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


<div class="col-md-10 padding-none">
    <a href="{{url_for('newCategory')}}">
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Add Category
        </button>
    </a>
</div>

<div class="row">
    <div class="col-md-12">
    {% for cat in categories %}
    <hr>
    <a href = "{{url_for('showItems', catalog_id = cat.id)}}">

        <h2 class="text-center">{{cat.name}}</h2>

    </a>
    <hr>
    {% endfor %}

    </div>

</div>



{% endblock %}